<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!-- Api -->
		<add key="ApiUrl" value="https://integrate.ent.mixtelematics.com"/>
		<!-- IdentityServer -->
		<add key="IdentityServerBaseAddress" value="https://identity.ent.mixtelematics.com/core/"/>
		<add key="IdentityServerClientId" value="integrate.ent.ci"/>
		<add key="IdentityServerClientSecret" value="IbR7mnzPBtggm2H7"/>
		<add key="IdentityServerScopes" value="offline_access MiX.Integrate"/>
		<add key="IdentityServerUserName" value="lg@canvasintelligence.com"/>
		<add key="IdentityServerPassword" value="TrL?0Drltiw41"/>
	</appSettings>
</configuration>
