<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
	<appSettings>
		<!-- Api -->
		<add key="ApiUrl" value="https://integrate.ent.mixtelematics.com"/>
		<!-- IdentityServer -->
		<add key="IdentityServerBaseAddress" value="https://identity.ent.mixtelematics.com/core/"/>
		<add key="IdentityServerClientId" value="integrate.ent.ci"/>
		<add key="IdentityServerClientSecret" value="IbR7mnzPBtggm2H7"/>
		<add key="IdentityServerScopes" value="offline_access MiX.Integrate"/>
		<add key="IdentityServerUserName" value="lg@canvasintelligence.com"/>
		<add key="IdentityServerPassword" value="TrL?0Drltiw41"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
